footer{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1em;
    font-weight: 500;
    left: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color:#ffde57;
    color: black;
    margin-top:100px;
    width: 100vw;
}
.social-media{
    color: black !important;
    margin-bottom: 0.5em;
}
a{
    color: red;
    text-decoration: none;
}