/* create responsive footer */

footer {
    background-color: #4584b6;
    color: #ffffff;
    padding: 20px;
    clear: both;
    text-align: center;
    font-size: 1em;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}
  
a:visited {
    text-decoration: none;
    color: #ffffff;
}
