.spinner {
    animation: spin infinite 1s linear;
}

ul{
    list-style-type: none;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


